audioop-lts==0.2.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
comtypes==1.4.16
idna==3.19
numpy==2.5.2
psutil==7.2.2
pycparser==3.0
pypiwin32==223
pyttsx3==2.99
pywin32==312
requests==2.34.2
sounddevice==0.5.6
soundfile==0.14.0
SpeechRecognition==3.17.0
srt==3.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
vosk==0.3.45
websockets==17.0.1
